.text-light-gray{
    color: #727272;
    font-size: 1rem;
}


/*header styles*/
header{
    background: rgba(255,144,14,0.10);
    padding: 50px 240px;
}



nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul {
   display: flex; 
}

nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}


nav li a{
    text-decoration: none;
    color:#424242 ;
}


/*bannar styles*/
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title{ 
font-size:4rem ;
font-weight: 700;
color: #131313;
}




.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding:20px 25px ;
    color: #FFF;
    font-size: 1.25rem;
    cursor: pointer;
    border: 0;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}


.banner img{
    width: 100%;
    margin-top: 20px;
}




/*main style*/
main{
    max-width: 1440px;
    margin: 70 auto;
}


/*teams style*/
.teams-contaner{
    display: flex;
    align-items: center;

}


.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.teams-content{
    padding-right:70px ;
    padding-left: 70px;
}


.teams-title{
    font-size: 45px;
}

.teams-title .quick-list{
    font-weight: 800;
}


.teams-title .text-features{
    color: #FF900E;
    font-weight: 700;
}



/*features section styles*/
.features{
    display: flex;
    margin-top:130px ;
    gap: 100px;
    padding-left: 50px;
}

.feature-content .card{
    border:8px ;
    background: #FFF;
    box-shadow: 0px 4px 40px 0px rgba(0,0,0,0.6) ;
    padding: 30px;
    margin-bottom: 20px;
}


.ten-years-badge{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 342px;
padding: 40px;
}


.ten-years-badge h2{
    font-size: 4rem;
}


.features .section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}


/*facts section*/

.facts-card-contaeinar{
    display: flex;
    justify-content:space-around;
}

.facts-card-contaeinar .card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center; 
      padding: 30px 30px;
}

.facts-card-contaeinar .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facts-card-contaeinar .card-title{
    font-weight: 600;
    font-size:1.25rem ;
    margin-top: 5px;
}




/*sponsor styles*/
.sponsors{
    text-align: center;
}

.sponsors-img-containar{
    display:flex ;
    justify-content:space-evenly ;
    align-items: center;
    margin-top: 50px;
    gap: 40px;
}

.sponsors-img-containar img{
    width:165px;
}










/*responsive midea quaris*/
/*mobile devices*/
@media screen and (max-width:576px) {
    header{
        padding: 20px;  
    }
    nav,
    .teams-contaner,
    .facts-card-contaeinar,
    .sponsors-img-containar
    {
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-content, .facts-card-contaeinar{
        padding-right:20px ;
        padding-left: 20px;
    }
    .facts-card-contaeinar{
        gap: 20px;
    }
}

/*tablet or medium devaices*/
@media screen and (min-width:576px) and (max-width:960px) {
    nav,
    .teams-container,
    .sponsors-img-containar
    {
        flex-direction: column;
    }
    header{
        padding: 40px;
    }
    
}
